body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
.admin-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.admin-options .button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  text-align: center;
}

.admin-options .button:hover {
  background-color: #0056b3;
}
